.header{ 
  text-align: center;
  background-color: transparent;
  
}

.nav{
  background-color: transparent;
}
.nav ul li{
  float: none;
  text-align: center;
}



body {
  background-image: url("/images/darkpic.png");
  background-position: center;
  /*center the image*/
  background-size: cover;
  padding-bottom: 100px;
  /*Fill Entire Viewport*/
  background-repeat: no-repeat;
  
}


article {
 
  border: 1px  #ddd; /* Adds a subtle border */
  padding-left: 50px;
  margin-top: 200px; 
  
  /* Adds spacing below the article */
}

.container{

  margin-top: 300px;
}




.tb {
  background-color: transparent;
}


 


.card-text{
  color: #ffff;
  font-size: x-large;
  text-align: i;
}

.card-title{
  color: #ffff;
  font-size: x-large;
}
li a{
  color:#fff
}
