.header{ 
  text-align: center;
  background-color: transparent;
  
}

.nav{
  background-color: transparent;
}
.nav ul li{
  float: none;
  text-align: center;
}



body {
  background-image: url("/images/darkpic.png");
  background-position: center;
  /*center the image*/
  background-size: cover;
  padding-bottom: 400px;
  /*Fill Entire Viewport*/
  background-repeat: no-repeat;
  
}


article {
 
  border: 1px  #ddd; /* Adds a subtle border */
  padding-left: 400px;
  margin-top: 200px; 
  
  /* Adds spacing below the article */
}

.container{
  padding-left: 350px;
  margin-top: 200px;}



.img{
  padding-inline-end: 12%;
}
.tb {
  background-color: transparent;
}

.h1{
  color: #fff;
}

.card-text{
  color: #ffff;
  font-size: x-large;
}

.card-title{
  color: #ffff;
  font-size: x-large;
}
li a{
  color:#fff
}
