.header{ 
  text-align: center;
  background-color: transparent;
  
}

.nav{
  background-color: transparent;
}
.nav ul li{
  float: none;
  text-align: center;
}



body {
  background-image: url("/images/darkpic.png");
  background-position: center;
  /*center the image*/
  background-size: cover;
  padding-bottom: 400px;
  /*Fill Entire Viewport*/
  background-repeat: no-repeat;
  
}


article {
  background-color: ; /* White background for articles */
  border: 1px  #ddd; /* Adds a subtle border */
  padding-left: 40%;
  margin-top: 200px; 
  ;
  /* Adds spacing below the article */
}
.aside{
  padding: 10px;
  margin-top: 20px;
}
