body {
    background-image: url("/images/prods.jpeg");
    background-position: center;
    /*center the image*/
    background-size: cover;
    /*Fill Entire Viewport*/
    background-repeat: no-repeat;
    
  }




.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .6);
    margin-right: auto;
}
.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3 {   --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 3);
    padding-left: calc(var(--bs-gutter-x)* 4);
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}



p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

.h1{
    text-align: justify;
}

.icon-link{
    color: black;
}