body {
    background-image: url(/images/user\ copy.jpg);
    background-position: center;
    /*center the image*/
    background-size: cover;
    /*Fill Entire Viewport*/
    background-repeat: no-repeat;
    padding-bottom: 200px;
  }


  .container {
    padding-left: 0%;
    margin-top: 300px; 
  }


  