body {
    background-image: url(/images/user\ copy.jpg);
    background-position: center;
    /*center the image*/
    background-size: cover;
    /*Fill Entire Viewport*/
    background-repeat: no-repeat;
    padding-bottom: 400px;
  }


  .contain {
    padding-left: 10%;
    margin-top: 500px; 
  }
  .container{
    padding-left: 600px;
  }
  