form {
    display: -ms-flexbox;
    padding-left: 400px;

    margin-top: 00px; 
    unicode-bidi: isolate;
    box-sizing: border-box;
}
.form-floating>.form-control, .form-floating>.form-control-plaintext {
    padding: 1rem .75rem;
}
